@font-face {
  font-family: 'Helvetica Now';
  src: url('@/assets/fonts/HelveticaNowDisplay.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Now';
  src: url('@/assets/fonts/HelveticaNowDisplayBold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}